body {
    background: #EBECEC;
}

.toolbar {
    background-color: #002D32;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url('../img/logoNegative.png');
    width: 10vw;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

.logout-button {
    color: #F2F5F5;
    background: #73B1B2;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

article {
    width: 95%;
    margin: 0 auto;
}

.container {
    padding-top: 3vh;
    display: flex;
    width: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.status-column {
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.status-column-item {
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.status-number {
    font-size: 24px;
    font-weight: bold;
}

.status-label {
    color: #4F4F4F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.processing {
    color: #2993CE;
}

.pending {
    color: #FFCE00;
}

.approved {
    color: #005A64;
}

.canceled {
    color: #C73939;
}

.total {
    color: #000000;
}

.sales-column {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.sales-empty {
    width: 30%;
}

.pedido {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.order-row-item {
    font-weight: bold;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.order-item-header {
    display: flex;
    justify-content: space-between;
    color: #005A64;
    font-family: 'Inter';
    padding-bottom: 5vh;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.view-button {
    background-color: white;
    color: #73B1B2;
    border: 1px solid #73B1B2;
}

.sales-label {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.sales-number {
    font-family: Inter;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}

.label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.toolbar-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

hr {
    border-bottom: 1px solid #005A64;
}